<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<table class="table table-striped">

    <thead class="thead-dark">
        <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
    </thead>
    <tbody>
        <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{el.id}}</th>
            <td>{{el.nombre}}</td>
            <div *ngIf="el.par!=null">
                <div *ngFor="let par of el.par">
                    {{par.id.val}}
                    {{par.tipo.tipo}}
                </div>
            </div>
            <div *ngIf="el.par==null">
                <td>No tiene</td>
            </div>
            <td>{{el.tipo.tipo}}</td>
            <td>{{el.tam}}</td>
            <div *ngIf="el.ambito">
                {{el.ambito}}
            </div>
            <div *ngIf="!el.ambito">
                Global
            </div>
            <td>{{el.linea}}</td>
            <td>{{el.columna}}</td>
        </tr>
    </tbody>
</table>